/* Navbar */
.navbar {
	background-color: $primary-color;
	color: #fff;
	height: 70px;

	ul {
		display: flex;
	}

	a {
		color: #fff;
		padding: 10px;
		margin: 0 5px;

		&:hover {
			border-bottom: 2px #fff solid;
		}
	}

	.flex {
		justify-content: space-between;
	}
}

/* Code */
code,
pre {
	background-color: #333;
	color: #fff;
	padding: 10px;
}

/* Footer */
.footer {
	.socials {
		a {
			margin: 0 10px;
		}
	}
}

/* Animation */
@keyframes slideInFromLeft {
	0% {
		transform: translateX(-100%);
	}
	100% {
		transform: translateX(0);
	}
}

@keyframes slideInFromRight {
	0% {
		transform: translateX(100%);
	}
	100% {
		transform: translateX(0);
	}
}

@keyframes slideInFromTop {
	0% {
		transform: translateY(-100%);
	}
	100% {
		transform: translateX(0);
	}
}

@keyframes slideInFromBottom {
	0% {
		transform: translateY(100%);
	}
	100% {
		transform: translateX(0);
	}
}
